.eins {
    background-color: rgb(229, 188, 134);
    width: 400px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    font-size: small
}

img {
    width: 80%;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: rgb(240, 77, 17);
    font-style: italic;
}

p {
    text-align: justify;
}