
h1 {font-family: 'Courier New', Courier, monospace;
font-weight: 600;}


div{font-family: 'Courier New', Courier, monospace; 
font-weight: 300;}

img{display: flex;
justify-content: center;
}u